@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  // reset
}

body {
  background-color: rgba(0, 0, 0, 0.315);
}

h1 {
  text-align: center;
  font-size: 2.3rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  top: 40px;
  width: 50vw;
  height: 60vh;
  margin: auto;
}
footer {
  position: absolute;
}

//style grid
.f1 {
  @include border-color-style3;
}
.f2 {
  @include border-color-style3;
}

.f3 {
  @include border-color-style2;
}

.f4 {
  @include border-color-style3;
}

.f5 {
  @include border-color-style3;
}

.f6 {
  @include border-color-style2;
}
.f7 {
  @include border-color-style4;
}
.f8 {
  @include border-color-style4;
}

button {
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
}
button:hover {
  background-color: black;
  color: white;
}

.score {
  font-size: 1.5rem;
}

footer p {
  width: 100vw;
  text-align: center;
}

.msg {
  color: green;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.fas {
  font-size: 10rem;
  width: 100%;
  text-align: center;
}

.far {
  font-size: 10rem;
  width: 100%;
  text-align: center;
}
